<html>
<body>
{{#hurricane}}
<table align="center" width="400px">
    <tr>
        <td>{{name}}</td>
        <td>{{location}}</td>
        <td>{{category}}</td>
        <td>{{image}}</td>
        <td>{{user}}</td>
    </tr>
</table>
<br>
<br>
<br>
<p align="center">Edit the values you would like</p>
<br>
<br>
<br>
<table>
    <form action="/edit-hurricane" method="post">
        <tr>
            <input type="hidden" value="{{id}}" name="hid">
            <td><input type="text" placeholder="Hurricane name" value="{{name}}" name="hname"></td>
            <td><input type="text" placeholder="Hurricane location" value="{{location}}" name="hlocation"></td>
            <td><select name="hcategory" name="category" id="category">
                <option selected disabled>Category</option>
                <option value="ONE">1</option>
                <option value="TWO">2</option>
                <option value="THREE">3</option>
                <option value="FOUR">4</option>
                <option value="FIVE">5</option>
            </select></td>
            <td><input type="text" placeholder="Hurricane image url" name="himage"></td>
            <td><button type="submit">Submit</button></td>
        </tr>
    </form>
</table>
<script>
    var category = document.querySelector("#category");
    for (var i in category.options) {
        var option = category.options.item(i);
        option.selected = option.value == "{{category}}";
    }
</script>
{{/hurricane}}
</body>
</html>